::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius:0px;
  height:10px;                           
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(34, 34, 34); 
}

::-webkit-scrollbar-track {
  background: black;
}

.bottommenu_text a, .bottommenu_text a:visited, .photog_text a, .photog_text a:visited {
  color: white;
}

.bottommenu_text a:hover, .photog_text:hover {
  color: purple;
}

body {
  overscroll-behavior-y: none
}

.logo {
  padding: 1px 8px 1px 8px;
  background-color: black;
  z-index: 2;
  margin: 5px 0 0 7px;
  top: 0px;
  position: fixed;
}

.logo p {
  line-height: 24px;
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
  font-size: 19px;
  margin:0;
}

.logo a, .logo a:visited {
  color: white;
  text-decoration: none; 
}

.logo a:hover {
  color: purple;
}

.insta {
  position: fixed;
  right: 0;
  margin: 5px 41px 0px 0px;
  font-size: 22px;
}

.insta a, .insta a:visited {
  color: black;
}

.insta a:hover {
  color: black;
}

.bottommenu_wrap {
  position: fixed;
  margin: 0 0 5px 7px;
  bottom: 0;
  z-index: 2;
}

.bottommenu_text {
  padding: 1px 8px 1px 8px;
  margin: 0;
  color: white;
  background-color: black;
  line-height: 24px;
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
  font-size: 17px;
}

.photog_wrap {
  position: fixed;
  margin: 0 42px 5px 0;
  bottom: 0;
  right: 0px;
  z-index: 2;
}

.photog_text {
  padding: 1px 8px 1px 8px;
  margin: 0;
  color: white;
  background-color: black;
  line-height: 24px;
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
  font-size: 17px;
}

.cameraicon {
  display: inline-block;
}

.navbtn {
  padding: 1px 8px 1px 8px;
  color: white;
  background-color: black;
  line-height: 24px;
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
  font-size: 17px;
  margin: 0;
  color: white;
  background-color: black;
  line-height: 24px;
  height: 100%;
  right: 0;
  z-index: 2;
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
  position: fixed;
  font-size: 19px;
}

@media (max-width: 1000px) {

  .navbtn {
    height: 30px;
    margin: 5px 7px 0 0;
  }

  .bottommenu_wrap {
    flex-direction: column;
  }

  .insta {
    right: 0px;
  }

}

