::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(34, 34, 34);
  border-radius:0px;
  height:10px;                           
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(34, 34, 34); 
}

::-webkit-scrollbar-track {
  background: rgb(57, 57, 58);
}

.logowrap {
  padding: 1px 8px 1px 8px;
  margin: 0 0 0 7px;
  color: white;
  background-color: black;
  line-height: 24px;
  top: 5px;
  z-index: 2;
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
  position: fixed;
  font-size: 19px;
}

.bottommenutext {
  padding: 1px 8px 1px 8px;
  margin: 0 0 0 7px;
  color: white;
  background-color: black;
  line-height: 24px;
  bottom: 5px;
  z-index: 2;
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
  position: fixed;
  font-size: 19px;
}

.navbtn {
  padding: 1px 8px 1px 8px;
  margin: 0 0 0 7px;
  color: white;
  background-color: black;
  line-height: 24px;
  top: 5px;
  right: 0;
  z-index: 2;
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
  position: fixed;
  font-size: 19px;
}

@media (max-width: 1000px) {

  .logo {
    transition: none;
    -webkit-transition: none;
    box-shadow: #000 0em 0em 0em;
  }

  .logo:hover {
    -webkit-transform: none;
    transform: none;
  }

}

