
/* Header */

.logowrap {
  padding: 20px;
  display: inline-block;
  z-index: 21;
  position: fixed
}

.logo {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 22;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  box-shadow: #000 0em 0em 0em;
}

.logo:hover {
/*  -webkit-transform: scale(1.06);
  transform: scale(1.06);*/
  opacity: .8;
}

.logo.infobtn {
  width: 50px;
  height: 50px;
}

.logo.prodbtn {
  width: 50px;
  height: 50px;
}

.bottommenutext {
  padding: 0px 20px 0px 10px;
  margin: 0;
  color: white;
  background-color: black;
  line-height: 24px;
  bottom: 5px;
  z-index: 2;
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
  position: fixed;
}

@media (max-width: 1000px) {

  .logo {
    transition: none;
    -webkit-transition: none;
    box-shadow: #000 0em 0em 0em;
  }

  .logo:hover {
    -webkit-transform: none;
    transform: none;
  }

}

