<div class="insta"><ion-icon name="logo-instagram"></ion-icon></div>

{% if page.previous %}
    {% assign previous = page.previous %}
{% else %}
    {% assign previous = site.posts[0] %}
{% endif %}
    
<!-- <a class="equalize-left flex flex-col justify-center" href="{{site.baseurl}}{{previous.url}}" title="Previous Post: {{previous.title}}">
   <h6><i class="icon ion-ios-arrow-left"></i></h6>
</a> -->

{% if page.next %}
    {% assign next = page.next %}
{% else %}
    {%comment%}
       As the array index start at zero we substract 1 to the total count,
       we then get the last post index in the site.posts array
    {%endcomment%}
    {% assign last lastPostIndex = site.posts | size | minus: 1 %}
    {% assign next = site.posts[lastPostIndex] %}
{% endif %}

<a href="{{site.baseurl}}{{next.url}}" title="next Post: {{next.title}}">
    <h4 class="navbtn flex align-center justify-center"><ion-icon name="chevron-forward-outline"></ion-icon></h4>
</a>

<script type="text/javascript">
    $(window).on("load", function() {
    $('#loaderContainer').hide();
        console.log("loader hide"); // delete this, it's just a sample to show thats loaded.
    });
</script>

<style type="text/css">

#loaderContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 42px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin: 20% auto 0; /* Adjust the 20% to move the loader up or down. */
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>

<div id="loaderContainer">
  <div class="loader"></div>
</div>