
<!-- LOGO -->

<div class="logo hideit">
  <a href="/">
    <p>C|||IPS</p>
  </a>
</div>

<!-- NAV BUTTON -->

<div class="navbtn_wrap">
{% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}" title="{{previous.page.title}}"><h4 class="navbtn flex align-center justify-center hideit"><ion-icon name="chevron-forward-outline"></ion-icon></h4></a>
{% else %}
  <a class="prev" href="/"><h4 class="navbtn flex align-center justify-center hideit"><ion-icon name="chevron-forward-outline"></ion-icon></h4></a>
{% endif %}
</div>

<!-- LOADER BUTTON -->

<script type="text/javascript">
    $(window).on("load", function() {
      $('#loaderContainer').hide();
      });

      $(window).load(function(){
      $(".insta").show();
    });
</script>

<div id="loaderContainer">
  <div class="loader"></div>
</div>

<!-- INSTA BUTTON -->

<div class="insta_wrap">
    <a target="_blank" href="https://instagram.com/clllips">
        <h4 class="insta_btn flex align-center justify-center hideit"><ion-icon name="logo-instagram"></ion-icon></h4>
    </a>
</div>
